body {
    background-color: #f4ece1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c1e1a;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: #fffdfa;
    max-width: 600px;
    border: 2px solid #8d775f;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1, h2, h3 {
    border-bottom: 1px solid #d3c4b1;
    color: #740001; /* Rojo Gryffindor */
}

.track input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.dice-roller {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

button {
    background: #ae0001;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #740001;
}
